@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,400;1,900&display=swap');

body {
    background: rgb(143,37,187);
    background: linear-gradient(90deg, rgba(143,37,187,1) 0%, rgba(255,0,227,1) 100%);
    display: flex;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 50px;
    font-family: 'Roboto', sans-serif;

}

.form {
    background-color: #fff;
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title {
    font-weight: 900 ;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.input-form {
    width: 100%;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.input-title {
    position: absolute;
    left: 50px;
    font-weight: 400;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-5px);
    letter-spacing: 3px;
    text-transform: uppercase;

    transition: all 600ms;
}

.inputs {
    margin: 30px 0 40px 0;
    width: 80%;
    height: 15px;
    z-index: 1;
}

.input {
    padding: 5px;
    width: 90%;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #000;
    background-color: transparent;
    z-index: 10;
    position: relative;
    letter-spacing: 2px;
    font-size: 20px;
    transform: translateY(-6px);
    font-weight: 100;

    transition: all 600ms;
}

.inputs input:valid ~ span,
.inputs input:focus ~ span {
    transform: translateY(-22px);
    font-size: 12px;
    color: #fff;
    background-color: #000;
    padding: 2px;
}

.input:focus {
    border: 1px solid #000;
    border-top: 2px solid #000;
}

.buttons-form, a{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.btn {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: transparent ;
    border: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: rgb(137,0,255);
    background: linear-gradient(280deg, rgba(137,0,255,1) 52%, rgba(0,108,255,1) 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    align-content: center;
    text-align: center;

    transition: all 900ms ease-in-out;
}

.checkbox {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 15px;
}

.forgot {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.instruction {
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}

.get-user {
    margin-top: 100px;
    width: 60%;
    height: 40px;
    color: #fff;
    background-color: #000;
    pointer-events: all;
    cursor: pointer;
}

